<div class="pure-u-1-3">
  <div>
    <form class="text-center pure-form pure-form-aligned">
      {{input value=radio_url placeholder="Copy radio URL..."
        autofocus="autofocus"}}
      <br>
      {{#if radio_url}}
        <button class="pure-button"
                {{action "initRadio" preventDefault=true}}>Create radio!</button>

        {{#if audio}}
          <button class="pure-button"
                {{action "clear" preventDefault=true}}>Clear</button>
        {{/if}}
      {{/if}}
      <p>Copy any radio URL or audio URL and EmberAudio will attempt to play the
        audio.
        <small>* For Shoutcast URLs add "/;" after the port if your browser is
          not able to play the stream
        </small>
      </p>
    </form>
  </div>
</div>

<div class="pure-u-1-3">
  <div>
    {{#if error}}
      <p>Unable to play "{{radio_url}}"
        <button {{action "clear"}}><i class="fa fa-times-circle"></i></button>
      </p>
    {{/if}}

    {{#if audio}}
      {{#if isPlaying}}
        <p><i class="controls fa fa-stop fa-4x" {{action "stop"}}></i></p>
        <p>
          {{#if isBuffering}}
            Buffering...
          {{else}}
            Playing radio .  . .
          {{/if}}
        </p>
      {{else}}
        <p><i class="controls fa fa-play fa-4x" {{action "play"}}></i></p>
        <p>Stopped</p>
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="pure-u-1-3">
  <div>
    {{#if audio}}
      <p>Duration: {{totalTime}}</p>
      <p>Time: {{currentTime}} s</p>
    {{/if}}
  </div>
</div>
